<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591358838101-m1eu64b2fj9gs9tg01orn3p9rr5nrk21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591358838101-m1eu64b2fj9gs9tg01orn3p9rr5nrk21</string>
	<key>API_KEY</key>
	<string>AIzaSyCOI7LNDtY-6vEScEBnNMgWICE_qgMLV2o</string>
	<key>GCM_SENDER_ID</key>
	<string>591358838101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uow.wesurf</string>
	<key>PROJECT_ID</key>
	<string>uowwesurf</string>
	<key>STORAGE_BUCKET</key>
	<string>uowwesurf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591358838101:ios:2a340e6abb5cf20d379bdc</string>
	<key>DATABASE_URL</key>
	<string>https://uowwesurf.firebaseio.com</string>
</dict>
</plist>